body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e6e6e4;
}
.jumbotron-wrapper {
  background-image: url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 600px;
  position: relative;
}
.jumbotron-content {
  width: 800px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-60%);
  text-align: center;
  color: rgba(0,0,0,0.5);
}
.intro-menu {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
}

.profile-line {
  margin: 20px 0;
}
.white-card.profile-card {
  margin: 20px 10px;
}
.btn.profile-edit {
  height:40px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

/* Login Section Styling*/
.login-section {
    background-color: #3d463c;
    color: #FFF;
}
.login-form {
    padding-top: 50px;
}
.login-form form {
    width: 300px;
    margin: 30px auto 0;
}
.login-form input {
    background-color: #FFF;
    border-radius: 3px;
    width: 100%;
}
.login-section-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    box-sizing: border-box;
}
.register-advice {
    flex-basis: 60%;
    padding: 0 150px 0 0;
    text-align: center;
}
.login-section p {
    font-size: 20px;
}
.register-img {
    width: 200px;
}
/* Register Styling */
.register-section {
    background-image: url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    min-height: 700px;
}
.register-wrapper {
    width: 500px;
    min-height: 300px;
    background-color: #FFF;
    padding: 50px 100px;
    margin: 50px auto;
    border-radius: 5px;
}
.register-col {
    flex-basis: 50%;
    padding: 0 30px;
}
.register-btn.btn {
    margin-top: 10px;
    height: 40px;
    width: 170px;
}
/* Buttons Styling */
.btn {
    height: 30px;
    outline: 0;
    border:0;
    border-radius: 3px;
    padding: 0 20px;
    font-weight: bold;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}
.outlined-btn {
    background-color: transparent;
    border: 1px solid #3d7340;
    color: #3d7340;
}
.highlight-btn {
    color: #FFF;
    background-color: #57a45b
}
.light-btn {
    color: #57a45b;
    background-color: #FFF;
}
.light-btn:hover {
    background-color: #57a45b;
    color: #FFF;
}
.highlight-btn:hover, .outlined-btn:hover {
    color: #FFF;
    background-color: #3d7340;
}

/* Inputs styling */
.input-holder {
    margin-top: 20px;
}
input {
    width: 100%;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.error-wrapper {
    color: #f62424;
}

.dashboard-body {
  background-color: #e6e6e4;
  min-height: 700px;
  padding: 0 0 20px 0;
}
/* Dashboard menu styling */
.dashboard-menu {
  font-size: 14px;
  display: flex;
  height: 60px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
  background-color: #57a45b;
}
.dashboard-menu div {
  display: flex;
}
.menu-item {
  color: #FFF;
  line-height: 60px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #FFF;
  color: #57a45b;
}
.menu-item.active {
  border-bottom: 3px solid #FFF;
}

/* white card */
.white-card {
  background-color: #FFF;
  color: #565650;
  border-radius: 3px;
  margin: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
  padding: 20px;
}
.action-item {
  cursor: pointer;
}
.action-item:hover {
  opacity: 0.5;
}
.add-product-form {
  text-align: left;
  display: flex;
}
.add-product-form .input-holder{
  margin-right: 20px;
}

/* Table */
.table-row {
  display: flex;
}
.table-row div {
  padding: 10px 20px 10px 10px;
}
.table-row.header {
  background-color: #565650;
  color: #FFF;
}
.table-row.header div {
  border-right: 1px solid rgba(255,255,255, 0.2);
}
.table-row:not(.header):hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}
